:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #111827;
  background-color: #e5e7f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}
